/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");

body {
  background-color: #fdeedc;
  color: #7b4812;
  font-family: "Roboto Slab", serif;
}

body::-webkit-scrollbar {
  width: 14px;
  border: #7b4812;
}

body::-webkit-scrollbar-track {
  background: white;
  /* border-radius: 20px; */
  border: 1px solid #7b4812;
}

body::-webkit-scrollbar-thumb {
  background-color: #fdeedc;
  border-radius: 20px;
  border: 1px solid #7b4812;
}

body::-webkit-scrollbar-thumb:hover {
  background: #fae3c8;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

@media only screen and (min-height: 600px) {
  .banner {
    height: 580px;
  }
}
@media only screen and (min-height: 900px) {
  .banner {
    height: 860px;
  }
}

@media only screen and (max-height: 599px) {
  .banner {
    height: 466px;
  }
}
@media only screen and (max-width: 1100px) {
  .navbar-btns {
    font-size: 12px;
    padding-inline: 1px;
  }
}

@media only screen and (max-width: 575px) {
  .dvi {
    padding: 0px;
    padding-bottom: 8px;
  }
}
@media only screen and (max-width: 575px) {
  .dvi2 {
    padding: 0px;
    padding-top: 8px;
  }
}
@media only screen and (min-width: 580px) {
  .dvi3 {
    min-height: 300px;
  }
}
@media only screen and (min-width: 576px) {
  .dvi4 {
    width: 80%;
  }
}
@media only screen and (min-width: 900px) {
  .dvi4 {
    width: 65%;
  }
}
@media only screen and (max-width: 575px) {
  .dvi4 {
    width: 90%;
  }
}
@media only screen and (max-width: 810px) {
  .dvi5 {
    width: 80%;
  }
}
@media only screen and (min-width: 576px) {
  .dvi6 {
    width: 80%;
  }
}
/* @media only screen and (min-width: 900px) {
  .dvi6 {
    width: 65%;
  }
} */
@media only screen and (max-width: 575px) {
  .dvi6 {
    width: 90%;
  }
}
