/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
/* Los selectores a continuación representan la paleta de colores, el número indica que menor número hace referencia a los colores más claros, y cuanto mayor el número hace referencia a los colores más fuertes */
.bg-naranja-100 {
    background-color: #fdeedc;
}

.border-naranja-400 {
    border: solid #e38b29 0.5px;
}

.bg-naranja-200 {
    background-color: #ffd8a9;
}

.bg-naranja-400 {
    background-color: #e38b29;
}

.text-naranja-400 {
    color: #e38b29;
}

.border-marron {
    border: 1px solid #7b4812;
}

.text-marron {
    color: #7b4812;
}

#togglePassword {
    color: #e38b29;
}

/* ESTILOS PARA CREAR ESTRELLAS DE CALIFICACION */
#form {
    width: 250px;
    margin: 0 auto;
    height: 50px;
}

#form p {
    text-align: center;
}

#form label {
    font-size: 20px;
}

input[type="radio"] {
    display: none;
}

label {
    color: grey;
}

.clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
}

label:hover,
label:hover~label {
    color: orange;
}

input[type="radio"]:checked~label {
    color: orange;
}