/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

.contenedor {
    background-color: #fdeedc;
    border: solid #e38b29 0.5px;
}

.encabezado {
    background-color: #ffd8a9;
    border: solid #e38b29 0.5px;
}

.boton-login {
    background-color: #e38b29;
}

.pie-de-pagina {
    background-color: #ffd8a9;
    border: solid #e38b29 0.5px;
}

.form-control {
    border: solid #e38b29 0.5px;
}

.form-label {
    color: #e38b29;
}

#togglePassword {
    user-select: none;
    color: #e38b29;
}

.boton-login {
    text-transform: uppercase;
    color: #e38b29;
}